@keyframes header_title_animation{
    from{
        opacity: 0;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes header_nav_animation{
    from{
        transform: translateX(100vw);
        opacity: 0;
    }
    to{
        transform: translateY(0vw);
        opacity: 1;
    }
}
@keyframes o_nas_brush_animation{
    from{opacity: 1;}
    to{  opacity: 1;transform: translateX(-110%);}
}
@keyframes o_nas_text_animation{
    from{
        width:0;
        color: rgba(0,0,0,0);
        overflow: hidden;
        height: 40vh;
    }
    90%{
        color: rgba(0,0,0,0);
        overflow: hidden;
        height: 40vh;
    }
    to{
        width: 60%;
        color: black;
        overflow-y:auto;
        opacity: 1;
    }
}
@keyframes aktualnosci_brush_animation{
    from{opacity: 1;}
    to{  opacity: 1;transform: translateX(110%);}
}
@keyframes aktualnosci_text_animation{
    from{
        transform: scaleY(0);
        color: rgba(0,0,0,0);
        opacity: 0;
    }
    to{
        transform: scaleY(1);
        color: black;
        opacity: 1;
    }
}
@keyframes aktualnosci_slider_animation {
    0% {
        transform: translateY(100%) scale(0.5);
        opacity: 0;
    }
    5%,
    20% {
        transform: translateY(100%) scale(0.7);
        opacity: 0.8;
    }

    25%,
    40% {
        transform: translateY(0) scale(1);
        opacity: 1;
        pointer-events: auto;
    }

    45%,
    60% {
        transform: translateY(-100%) scale(0.7);
        opacity: 0.8;
    }

    65%,
    100% {
        transform: translateY(-100%) scale(0.5);
        opacity: 0;
        pointer-events: none;
    }
}
@keyframes dojazd_title_animation{
    0%{
        transform: translateX(-100%) scaleX(0);
        color: transparent;
        text-shadow: none;
    }
    70%{
        transform: translateX(0) scaleX(1);
        color: transparent;
        text-shadow: none;
    }
    100%{
        color: white;
    }
}
@keyframes dojazd_text_animation{
    0%{
        transform: translateX(-200%);
        opacity: 1
    }
    100%{
        transform: translateX(0%);
        opacity: 1
    }
}
@keyframes dojazd_border_animation{
    0%{
        width: 0;
        height: 5%;
        box-shadow: none;
    }
    50%{
        width: 108%;
        height: 5%;
    }
    100%{
        width: 108%;
        height: 110%;
        box-shadow: none;
    }
}
@keyframes hr{
    from {transform: scaleX(0);}
    to {transform: scaleX(1);}
}
@keyframes zooomBounce{
    from {transform: translateY(100vh);}
    50%{transform: translateY(-5vh);}
    to{transform: translateY(0vh);}
}
@keyframes slideInViewFromDown {
    from {transform: translateY(100vh); opacity:1;}
    to{transform: translateY(0vh); opacity:1;}
}
@keyframes KomunikatSlideInViewFromLeft {
    from {transform: translateX(-100vw);}
    50%{transform: translateX(10vh);}
    51%{transform: translateX(10vh);}
    75%{transform: translateX(-5vh);}
    76%{transform: translateX(-5vh);}
    to{transform: translateX(0vh);}
}
@keyframes KomunikatSlideInViewFromRight {
    from {transform: translateX(100vw);}
    50%{transform: translateX(-10vh);}
    51%{transform: translateX(-10vh);}
    75%{transform: translateX(5vh);}
    76%{transform: translateX(5vh);}
    to{transform: translateX(0vh);}
}
@keyframes slideInViewFromLeft{
    from {transform: translateX(-100vw);}
    to{transform: translateX(0vh);}
}
@keyframes slideInViewFromRight {
    from {transform: translateX(100vw);opacity: 1;}
    to{transform: translateX(0vh);opacity: 1;}
}
@keyframes Streach {
    from {height: 0;}
    to{height: 100%;}
}