@import 'root.css';


.nav_exeption{
    justify-self: center;
    width: 80%;
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    margin-top: 10px;
    padding: 10px;
    border-top: rgba(128, 128, 128, 0.1) solid 2px;
}
.nav_exeption>button{
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: white;
    background: var(--green-vibrant);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s;
}

.nav_exeption>button:hover{
    filter: brightness(120%);
    transition: all 0.2s;
    animation-delay: 0.2s;
}
.nav_exeption>button:active{
    filter: brightness(75%);
    transition: all 0s;
}

main{
    font-size: x-large;
    font-family: 'Sour Gummy', sans-serif;
    background: url('../assets/tlo_dziennik.png');
    background-size: 100% 100%;
}
.headerCard > td{
    background-color: var(--green-dark);
    border: 3px solid var(--green-darker);
    font-weight: bold;
}
.message{
    background-color: var(--green-vibrant);
    border: 3px solid var(--green-dark);
    font-family: 'sour gummy', sans-serif;
    box-sizing: border-box;
    padding: 10px 0;
}
.message:hover{
    background-color: var(--green-dark);
    border-color: var(--green-darker);
    cursor: pointer;
}
.message:active{
    background-color: var(--green-darker);
    border-color: var(--green-darkerer);
}
.message:has(input[type="checkbox"]:hover){
    background-color: var(--green-vibrant) !important;
    border: 3px solid var(--green-dark) !important;
}
.message:has(input[type="checkbox"]:checked){
    background-color: var(--green-dark) !important;
    border-color: var(--green-darker) !important;
}
.checkboxLabel{
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    justify-self: center;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--green-darker);
    color: var(--green-darker);
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border-radius: 10px ;
    transform: translateY(-0.075em);

    justify-self: center;
    align-self: center;
    display: grid;
    place-content: center;
}
input[type="checkbox"]:hover{
    border: 5px solid limegreen;
}
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    background: var(--green-vibranter);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}


.messagesContainer{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.messageCard{
    width: 100%;
    display: flex;
}
table, tr, td, td>span{
    color: white;
}
table{
    width: 100%;
}
tr{
    z-index: 1;
    border-bottom: 1px solid black;
    width: 100%;
    min-height: 5vh;
    height: fit-content;
}
td, td > span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    text-align: center;
}
td > span{
    width: 100%;
}
td img{
    width: 50px;
    height: 50px;
    margin: 5px;
}

#writeContainer, #OpenedMessage{
    /*DODAJ TU BACKGROUND IMAGE STATU*/
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(35, 100, 43, 0.9);
    filter: blur(10);
    z-index: 99999;
    animation: slideInViewFromRight 0.2s ease-out;
    overflow: hidden;
}
.mailLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85%;
    max-height: 85%;
    width: 85%;
    height: 85%;
    border-radius: 10px;
    padding: 0 1.5vw;
    background-color: var(--green-vibrant);
    border: solid 5px var(--green-dark);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow-x: auto;
}
#OpenedMessage>.mailLayout{
    min-height: 50vh;
    height: fit-content;
    animation: none;
}
#MessageTextarea{
    min-height: 40vh;
    height: fit-content;
}
.jsFormButton{
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    background: none;
    border: none;
    cursor: pointer;
}
.jsFormButton>img{
    width: 10vh;
}
h1{
    color: white;
    margin-top: 0.2em;
    order: -1;
    font-size: 72px;
    z-index: 1;
    background-color: var(--green-vibrant);
    padding: 0 2rem;
}
.content{
    width: 90%;
    margin: 0.5em 0;
    text-align: left;
    color: white;
    border-left: 5px solid var(--green-dark);
    padding: 0.2em;
}
.content input, textarea, textarea:disabled {
    color: black;
    background: white;
    border: var(--green-darker) solid 2px;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin: auto;
    box-sizing: border-box;
}

.inputTextarea{
    height: 55%;
}
.inputTextarea>input{
    word-break: break-word;
}

.inputButtons{
    display: flex;
    justify-content: flex-end;
    border: none;
}
.inputButtons>button{
    width: 15%;
    height: 100%;
    margin: 0 10px;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    border:none;
}
.inputButtons>button:hover{
    filter: brightness(120%);
    transition: all 0.2s;
    animation-delay: 0.2s;
}
.inputButtons>button:active{
    filter: brightness(75%);
    transition: all 0s;
}
.buttonDraft{background: darkslategrey}
.buttonDelete{background: #f44336}
.buttonSent{background: var(--green-vibranter)}

.offButton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(to right top, #FF6B6B, #E63946);
    border-radius: 6px;
    font-size: 48px;
    height: 48px;
    width: 48px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
}
.offButton:hover {
    background: #D22E2E;
}

.OnetimeUse{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


#sentContainer, #deletedContainer, #draftsContainer, #writeContainer, #OpenedMessage{
    display: none;
}



