@import 'root.css';

main{
    display: flex;
}
#btnWrite{
    position: absolute;
    top: 0.5%;
    right: 0.5%;
}
.messagesContainer{
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.messageCard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 12px;                      /* consistent gaps */
    padding: 8px 12px;
    box-sizing: border-box;
}