@import 'root.css';


.nav_exeption{
    justify-self: center;
    width: 80%;
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    margin-top: 10px;
    padding: 10px;
    border-top: rgba(128, 128, 128, 0.1) solid 2px;
}
.nav_exeption>button{
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: white;
    background: var(--green-vibrant);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s;
}

.nav_exeption>button:hover{
    filter: brightness(120%);
    transition: all 0.2s;
    animation-delay: 0.2s;
}
.nav_exeption>button:active{
    filter: brightness(75%);
    transition: all 0s;
}

main{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}
.messagesContainer{
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.messageCard{
    width: 100%;
    display: flex;
}
table{
    width: 100%;
    border-bottom: 1px solid black;
}
tr{
    border-bottom: 1px solid black;
    width: 100%;
}
td, td > span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    text-align: center;
}
td > span{
    width: 100%;
}
td img{
    width: 50px;
    height: 50px;

}

#writeContainer{
    /*DODAJ TU BACKGROUND IMAGE STATU*/
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green-vibrant);
    z-index: 99999;
    animation: slideInViewFromRight 0.2s ease-out;
}
#writeContainer>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    padding: 0 1.5vw;
    background-color: var(--green-vibrant);
    border: solid 5px var(--green-dark);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow-x: auto;
}

h1{
    color: white;
    margin-top: 0.2em;
    order: -1;
    font-size: 72px;
    z-index: 1;
    background-color: var(--green-vibrant);
    padding: 0 2rem;
}
.inputContainer{
    width: 90%;
    margin: 0.5em 0;
    text-align: left;
    border-left: 5px solid var(--green-dark);
    padding: 0.2em;
}
.inputContainer input, textarea {
    border: var(--green-darker) solid 2px;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin: auto;
    box-sizing: border-box;
}

.inputTextarea{
    height: 55%;
}
.inputTextarea>input{
    word-break: break-word;
}

.inputButtons{
    display: flex;
    justify-content: flex-end;
    border: none;
}
.inputButtons>button{
    width: 15%;
    height: 100%;
    margin: 0 10px;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    border:none;
}
.inputButtons>button:hover{
    filter: brightness(120%);
    transition: all 0.2s;
    animation-delay: 0.2s;
}
.inputButtons>button:active{
    filter: brightness(75%);
    transition: all 0s;
}
.buttonDraft{background: darkslategrey}
.buttonDelete{background: #f44336}
.buttonSent{background: var(--green-vibranter)}

.offButton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(to right top, #FF6B6B, #E63946);
    border-radius: 6px;
    font-size: 48px;
    height: 48px;
    width: 48px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
}
.offButton:hover {
    background: #D22E2E;
}



#sentContainer, #deletedContainer, #draftsContainer, #writeContainer{
    display: none;
}
