/*misiaki w roocie sa zmienne do kolorow, taki szpont by nie pisac tego 100razy*/
@import "root.css";

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 1000;
}

.panel{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 14vw;
    text-align: center;
    border: var(--border);
    background: var(--main-color);
    background: linear-gradient(to right top, color-mix(in srgb, var(--main-color) 50%, white 15%), color-mix(in srgb, var(--main-color) 50%, black 15%));
    border-radius: 10px;
}

#userPanel{
    align-self: flex-start;
    -webkit-align-self: flex-start;
    float: right;
    width: 10vw;
    left: 43.6vw;
}

.Login {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 15vw;
}

.Login > input {
    height: 1.5em;
    width: 10em;
}

.offButton {
    color: black;
    background: red;
    background: linear-gradient(to right top, rgb(255, 0, 0), rgb(180, 0, 0));
    border: var(--border);
    border-radius: 5px;
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    right: 0;
    top: 0;
}
