/*misiaki w roocie sa zmienne do kolorow, taki szpont by nie pisac tego 100razy*/
@import "root.css";

.Login {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 15vw;
}

.Login > input {
    height: 1.5em;
    width: 10em;
}


