body{
    overflow: hidden;
}
.styling-panel{
    display: flex;
    justify-content: center;
}
#main-main {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    columns: 3;
    column-gap: 20px;
}

#main-main>.styling-panel{
    display: flex;
    flex-wrap: wrap;
    animation:none;
    width: 100%;
    gap: 20px;
}

.main-cell {
    width: 500px;
    color: white;
    margin: 10px 10px 20px 10px;
    background: var(--green-vibrant);
    background: linear-gradient(to left bottom, rgba(50, 143, 59, 0.5), rgba(50, 143, 59, 0.7));
    border: var(--border1);
    border-radius: 30px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    padding: 20px;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out; 
    animation: slideInViewFromDown 1s ease-out;
}

.main-cell:nth-child(1){animation-duration: 1s;}
.main-cell:nth-child(2){animation-duration: 2s;}
.main-cell:nth-child(3){animation-duration: 2.5s;}
.main-cell:nth-child(4){animation-duration: 3s;}
.main-cell:nth-child(5){animation-duration: 3.5s;}


.main-cell *{
    padding: 3px;
}

.main-cell h1{
    width: 100%;
}
.main-cell h1.logo-font-small span{
    text-align: center;
    font-size: 48px;
    display: block;
    width: 100%;
}

.main-cell-plan{
    font-family: 'sour gummy', sans-serif;
}
.buttonContainer{
    display: flex;
    margin-bottom: -5px;
}
.buttonContainer button{
    flex-grow: 1;
    padding: 10px;
    font-size: 20px;
    border: 3px solid rgba(0, 0, 0, 0.272);
    border-top: 3px solid rgba(255, 255, 255, 0.25);
    border-left: 3px solid rgba(255, 255, 255, 0.25);
    background: var(--green-darker);
    color: white;
    cursor: pointer;
    font-family: 'sour gummy', sans-serif;
}
.buttonContainer button:hover{
    background: var(--green-dark);
}
.buttonContainer button.activeButton{
    background: var(--green-vibrant);
    cursor: default;
    border: 3px solid rgba(0, 0, 0, 0.272);
    border-bottom: 3px solid rgba(255, 255, 255, 0.25);
    border-right: 3px solid rgba(255, 255, 255, 0.25);
}
.plan-container{
    display: none;
}
.plan-container.shownPlan{
    display: block;
}
.lesson-item{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    margin-bottom: 5px;
}
.lesson-item span:nth-child(even){
    font-size: 28px;
    font-weight: bold;
}
.main-cell-homework{
    font-family: 'sour gummy', sans-serif;
}
.homework-item{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: .2s;
    position: relative;
    font-size: 20px;
}
.homework-item > *:nth-child(1){
    width: 70%;
}
.homework-item > *:nth-child(2){
    width: 30%;
    text-align: right;
}
.homework-item .homework-pop-up{
    opacity: 0;
    display: flex;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 24px;
}
.homework-item:hover .homework-pop-up{
    opacity: 1;
    cursor: pointer;
}

.main-cell-news{
    font-family: 'sour gummy', sans-serif;
}
.main-cell-news .news-item{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.news-item-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}
.news-item-header span:first-child{
    font-size: 30px;
    font-weight: bold;
}
.news-content{
    font-size: 24px;
}
.wychowawca-container{
    display: flex;
    font-family: 'sour gummy', sans-serif;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 10px;
}
.wychowawca-container > div:first-child{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.wychowawca-name{
    font-size: 28px;
    font-weight: bold;
}
.wychowawca-about{
    max-height: 90px;
    overflow: hidden;
    position: relative;
}
.wychowawca-about > div{
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: 20px;
    background: linear-gradient(transparent, rgba(0,0,0,.15));
}
.wychowawca-img-container{
    background-image: url('../assets/user.svg');
    flex-grow: 1;
    max-width: 100px;
    min-width: 100px;
    margin: 10px;
    height: 125px;
    background-size: 100% 100%;
    border-radius: 10px;
    border: 3px solid white;
    box-sizing: border-box;
}
.meals-container > div{
    display: flex;
    flex-direction: column;
    font-family: 'sour gummy', sans-serif;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}
.meals-container > div > span:nth-child(2){
    font-size: 24px;
}
.main-child>.styling-panel{
    display: flex;
    justify-content: space-evenly;
}
.main-child img{
    width: auto;
    border: 5px solid var(--green-dark);
    border-radius: 25px;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out; 
    animation: slideInViewFromRight 2s ease-out;
}
.child-info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 32px;
}
.child-info>*{
    padding: 10px;
    background: var(--green-vibrant);
    background: linear-gradient(to left bottom, rgba(50, 143, 59, 0.5), rgba(50, 143, 59, 0.7));
    border: 5px solid var(--green-darker);
    border-radius: 25px;
    backdrop-filter: blur(5px);
    margin-bottom: 5px;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out; 
    animation: slideInViewFromLeft 0.1s ease-out;
    font-family: 'sour gummy', sans-serif;
    overflow-y: auto;
}
.child-info>*:nth-child(1){animation-duration: 0.2s;}
.child-info>*:nth-child(2){animation-duration: 0.8s;}
.child-info>*:nth-child(3){animation-duration: 1s;}
.child-info>*:nth-child(4){animation-duration: 1.2s;}


.child-info>h3{
    align-self: center;
    font-size: 48px;
}
.info-opinia{
    flex: 1;
    align-self: stretch;
    margin-bottom: 0;
}
.main-panel-teachers .styling-panel{
    display: flex;
    justify-content: center;
}
.main-panel-teachers .formContainer{
    width: 80%;
}


.teacherCards{
    height: fit-content;
    padding: 20px;
    font-size: 32px;

    background-color:  rgba(0, 0, 0, 0.25);;
    border: 5px solid var(--green-dark);
    border-radius: 25px;
    backdrop-filter: blur(5px);
    opacity: 0;
    animation: slideInViewFromDown 2s ease-in-out forwards;
    font-family: 'sour gummy', sans-serif;
    margin-top: 30px;
    display: flex;
}
.teacherCards legend{
    font-size: 24px;
    color: white;
    font-weight: bold;
    padding: 3px 20px;
    line-height: 24px;
    border: 3px solid rgba(0, 0, 0, 0.25);
    background-color: var(--green-dark);
    border-radius: 10px;
}
.teacherCards .teacherInfo{
    flex-grow: 1;
}
.teacherCards .imgContainer{
    background-image: url('../assets/user.svg');
    max-width: 150px;
    min-width: 150px;
    margin: 10px;
    min-height: 200px;
    background-size: 100% 100%;
    border-radius: 10px;
    border: 5px solid var(--green-darker);
    box-sizing: border-box;
}
.teacherCards h3{
    font-size: 36px;
    text-wrap: nowrap;
}
.teacherCards .email{
    font-size: 24px;
    color: lightgray;
    margin-left: 15px;
    font-weight: 600;
}
.teacherCards .opinia{
    margin-top: 10px;
    font-size: 24px;
    border-radius: 15px;
    max-height: 150px;
    width: 90%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.15);
    min-height: 150px;  
}

.formContainer{
    width: 80vw;
    max-height: 100%;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.main-panel-food .cafeteria-table{
    border: 4px solid #14522d;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr;
    min-height: 80%;
    border-radius: 15px;
    animation: slideInViewFromDown 2s;
}
.main-panel-food .table_cell:first-child span{
    transform: rotate(30deg);
}
.main-panel-food .table_cell{
    padding: 1em;
    font-size: 18px;
    border: 1px solid #14522d;
    font-family: 'sour gummy', sans-serif;
    transition: .2s;
}
.main-panel-food .table_cell.label{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-dark);
    border: 1px solid #14522d;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.main-panel-food .table_cell:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}


/*.table_cell:nth-child(8){animation-delay: 0.1s;opacity: 0;}
.table_cell:nth-child(9){animation-delay: 0.2s;opacity: 0;}
.table_cell:nth-child(10){animation-delay: 0.3s;opacity: 0;}
.table_cell:nth-child(11){animation-delay: 0.4s;opacity: 0;}
.table_cell:nth-child(12){animation-delay: 0.5s;opacity: 0;}
.table_cell:nth-child(14){animation-delay: 0.6s;opacity: 0;}
.table_cell:nth-child(15){animation-delay: 0.7s;opacity: 0;}
.table_cell:nth-child(16){animation-delay: 0.8s;opacity: 0;}
.table_cell:nth-child(17){animation-delay: 0.9s;opacity: 0;}
.table_cell:nth-child(18){animation-delay: 1s;opacity: 0;}
.table_cell:nth-child(20){animation-delay: 1.1s;opacity: 0;}
.table_cell:nth-child(21){animation-delay: 1.2s;opacity: 0;}
.table_cell:nth-child(22){animation-delay: 1.3s;opacity: 0;}
.table_cell:nth-child(23){animation-delay: 1.4s;opacity: 0;}
.table_cell:nth-child(24){animation-delay: 1.5s;opacity: 0;}
.table_cell:nth-child(25){animation-delay: 1.6s;opacity: 0;}*/

.nzw{
    background: var(--green-darker);
    font-size: 24px;
    font-weight: bold;
    animation: none !important;
    align-items: center;
}
.main-panel-news .formContainer{
    overflow-x: hidden;
}
@media (max-width:920px){
    .email{
        display: none;
    }
    .emailPlacedBelow{
        display: block !important;
    }
}
@media (max-width: 650px){
    .teacherCards .imgContainer{
        margin: 0;
    }
    .teacherCards .imgContainer1{
        display: none;
    }
    .teacherCards .imgContainer2{
        display: block !important;
        min-width: 100%;
        max-width: 100%;
        height: 500px;
    }
    .teacherCards .opinia{
        width: 100%;
    }
    .teacherCards h3,
    .email{
        text-align: center;
    }
    .labelVisibleFor1{
        display: none;
    }
    .labelVisibleFor2{
        display: inline-block !important;
    }
    .newsCards .date{
        font-size: 20px;
    }
}