#main-main {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    columns: 3;
    column-gap: 20px;
}

#main-main>.styling-panel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    padding: 10px;
}

.main-cell {
    margin: 1vh;
    width: 99%;
    background: var(--green-vibrant);
}
.main-cell h1{
    width: 100%;
}
.main-cell h1.logo-font-small span{
    text-align: center;
    font-size: 48px;
    display: block;
    width: 100%;
}



#main-cafeteria .styling-panel{
    display: flex;
    align-content: center;
    flex-direction: column;
}
.cafeteria-table{
    /*grid-template-columns: [nzw]1fr  [day1]1fr [day2]1fr [day3]1fr [day4]1fr [day5]1fr;*/
    /*grid-template-rows: [days]1fr [sniad]1fr [obiad]1fr [podwiecz]1fr;*/
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
}

.table_cell{
    width: 16%;
    text-align: center;
}
