#main-main {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    columns: 3;
    column-gap: 20px;
}
.main-panel-witaj{
    display: flex;
}
.main-panel-witaj span{
    background-color: var(--green-vibrant);
    padding: 2em;
    border-radius: 15px;
    border: 5px solid var(--green-dark);
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    font-size: 72px;
    height: fit-content;
}
.main-cell {
    margin: 1vh;
    width: 99%;
    background: var(--green-vibrant);
}
.main-cell h1.logo-font-small span {
    text-align: center;
    font-size: 48px;
    display: block;
    width: 100%;
}



.main-panel-add .styling-panel{
    display: flex;
    justify-content: center;
}
.main-panel-add .formContainer{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0 1.5vw;
    background-color: var(--green-vibrant);
    border: solid 5px var(--green-dark);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 50vw;
    overflow-y: auto;
}
.main-panel h1{
    font-size: 72px;
    z-index: 1;
    background-color: var(--green-vibrant);
    padding: 0 2rem;
    width: fit-content;
    margin: 0 auto;
}
hr{
    position: absolute;
    border: 3px solid var(--green-dark);
    top:4rem;
    left: 1.5vw;
    z-index: 0;
    box-sizing: border-box;
    right: 1.5vw;
}
.main-panel-add input,
.main-panel-add textarea,
.main-panel-add label{
    font-size: 32px;
    font-family: 'sour gummy', sans-serif;
}
.main-panel-add .article{
    border-radius: 3px;
    overflow: hidden;
}
.main-panel-add .article_header{
    display: flex;
    width: 100%;
}
.main-panel-add textarea,
.main-panel-add .article_header input:nth-child(1){
    width: 100%;
}
.main-panel-add  .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.main-panel-add-article .choose-image,
.main-panel-add-komunikaty .choose-visibility{
    display: flex;
    font-family: 'sour gummy', sans-serif;
    gap: 1rem;
    align-items: center;
    font-size: 32px;
}
.main-panel-add-article .file-button, .main-panel-add-komunikaty select{
    display: block;
    font-size: 32px;
}

.main-panel-add-article .file-button:hover {
    background-color: var(--green-dark);
}

.main-panel-add-article .file-button:active {
    transform: scale(.98);
}



.main-panel-food .styling-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-panel-food .formContainer{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0 1.5vw;
    background-color: var(--green-vibrant);
    border: solid 5px var(--green-dark);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 90%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: 'sour gummy', sans-serif;
}
.main-panel-food .form{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-panel-food .border-box{
    border: 3px solid var(--green-dark);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 80%;
}
.main-panel-food .table_cell:first-child span{
    transform: rotate(30deg);
}
.main-panel-food .table_cell{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    border: 3px solid var(--green-dark);
}
.main-panel-food .table_cell.label{
    background-color: var(--green-dark);
    border: 3px solid var(--green-darker);
}
.articlesManagement,
.annoucementManagement,
.jadlospisManagement,
.planlekcjiManagement {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.meal-textarea {
    width: 100%;
    height: 100%;
    min-height: 80px;
    border: 1px solid transparent;
    background-color: transparent;
    font-family: inherit;
    resize: vertical;
    padding: 5px;
    box-sizing: border-box;
    transition: 0.2s;
    font-size: 20px;
}
.meal-textarea:focus, .meal-textarea:hover {
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}
.main-panel-food .button-container{
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-panel-food .submitButton{
    transform: scale(2);
}