@import 'root.css';

html, body {
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    background-image: url('../assets/tlo_rejestracja.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header{
    height: 15vh;
    padding: 15px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    max-height: 80vh;
    padding: 0 1.5vw;
    background-color: var(--green-vibrant);
    border: solid 5px var(--green-dark);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow-x: auto;
}
.containerLoggedOut{
    width: 1000px;
}
.containerLoggedIn{
    width: 800px;
}
.containerProcess{
    width: 600px;
}
.containerResult{
    width: 1000px;
    padding: 20px;
}
h1{
    font-size: 72px;
    z-index: 1;
    background-color: var(--green-vibrant);
    padding: 0 2rem;
}
hr{
    position: absolute;
    border: 3px solid var(--green-dark);
    top:4rem;
    left: 1.5vw;
    right: 1.5vw;
    box-sizing: border-box;
    z-index: 0;
    animation: rekrutacja_hr 1.2s ease-in-out;
}
@keyframes rekrutacja_hr{
    from {transform: scaleX(0);}
    to {transform: scaleX(1);}
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width:100%;
}
.form input{
    padding: 10px;
}
.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.formsContainer {
    display: flex;
    gap: 3rem;
    width: 100%;
}
.frmChild,  .frmParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 50%;
}
.frmChildLogged{
    display: flex;
    justify-content: center;
    gap: 3rem;
    width:100%;
}
h1{
    margin-bottom: 1rem;
}
.smallerFrmChild{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.inputGroup {
    margin: 0.5em 0;
    text-align: left;
    border-left: 5px solid var(--green-dark);
    padding: 0.2em;
}
.inputGroup input{
    border: var(--green-darker) solid 2px;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    margin: auto;
    box-sizing: border-box;
}
.textBlock{
    width:99%;
    margin-top: 3vh;
}
.textBlock input{
    height: 100px;
}
.containerLoggedIn .submitButton,
.containerLoggedOut .submitButton{
    transform: scale(2);
}


.codeContainer{
    display: flex;
    flex-direction: column;
    font-size: 32px;
    gap: 1em;
    padding: 20px;
    color: white;
    font-family: 'sour gummy', sans-serif;
    font-weight: 900;
    text-align: center;
}
.codeContainer form{
    display: flex;
    font-size: 32px;
    gap: 1em;
}
.codeContainer form > *{
    flex-grow: 1;
}
.codeContainer input, .codeContainer button{
    font-family: 'sour gummy', sans-serif;
    font-size: 32px;
}
.codeContainer button{
    width: 70%;
}
.codeContainer input{
    width: 30%;
    padding-left: 10px;
    box-sizing: border-box;
    min-width: 10vw;
}

.containerResult{
    font-family: 'Sour Gummy', sans-serif;
    color: white;
    font-size: 24px;
    text-align: center;
}
.errorSpan{
    color: red;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
@media (max-width: 1000px){
    header{
        justify-content: center !important;
    }
    header .logo{
        margin-left: -50px;
    }
    header .logo > span{
        margin-left: -30px;
    }
    .containerLoggedOut{
        width: 800px;
    }
    .containerResult{
        width: 800px;
        padding: 20px;
    }
}
@media (max-width: 900px){
    .containerLoggedIn{
        width: 600px;
    }
}
@media (max-width: 700px){
    .containerProcess{
        width: 400px;
    }
}