@import 'root.css';

html, body {
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    background-image: url('../assets/tlo_rejestracja.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header{
    height: 15vh;
    padding: 15px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.containerLoggedOut{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 50vw;
    align-items: center;
    justify-content: center;
    max-height: 80vh;
    padding: 0 1.5vw;
    background-color: var(--green-vibrant);
    border: solid 5px var(--green-dark);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    position: relative;
}
.containerLoggedIn{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 40vw;
    align-items: center;
    justify-content: center;
    max-height: 80vh;
    padding: 0 1.5vw;
    background-color: var(--green-vibrant);
    border: solid 5px var(--green-dark);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    position: relative;
}
h1{
    font-size: 72px;
    z-index: 1;
    background-color: var(--green-vibrant);
    padding: 0 2rem;
}
hr{
    position: absolute;
    width: 40vw;
    border: 3px solid var(--green-dark);
    top:5vh;
    left: 1.5vw;
    z-index: 0;
}
.containerLoggedIn hr{
    width: 40vw;
    animation: rekrutacja_hr_logged_in 1s ease-in-out;
}
.containerLoggedOut hr{
    width: 50vw;
    animation: rekrutacja_hr_logged_out 1s ease-in-out;
}
@keyframes rekrutacja_hr_logged_in{
    from {width: 0;}
    to {width: 40vw;}
}
@keyframes rekrutacja_hr_logged_out{
    from {width: 0;}
    to {width: 50vw;}
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width:100%;
}
.form input{
    padding: 10px;
}
.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.formsContainer {
    display: flex;
    gap: 3rem;
    width: 100%;
}
.frmChild,  .frmParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 50%;
}
.frmChildLogged{
    display: flex;
    justify-content: center;
    gap: 3rem;
    width:100%;
}
h1{
    margin-bottom: 1rem;
}
.smallerFrmChild{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.inputGroup {
    margin: 0.5em 0;
    text-align: left;
    border-left: 5px solid var(--green-dark);
    padding: 0.2em;
}
.inputGroup input{
    border: var(--green-darker) solid 2px;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    margin: auto;
    box-sizing: border-box;
}
.textBlock{
    width:99%;
    margin-top: 3vh;
}
.textBlock input{
    height: 100px;
}
.submitButton{
    transform: scale(2);
}