:root{
    /* https://www.canva.com/colors/color-palettes/pastel-meltaways */
    --main-color: #FEE7E6;
    --secondary-color: #ECFDF1;
    --darker-main: #F86A62; /*stasiu to jest do paska do headera, troche chujowizna wiec zmiencie */
    --darker-darker-main: #F74036
}