* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 400vh;
    overflow-y:scroll;
    overflow-x:hidden;
    margin: 0;

}
.no_drag {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.logo-font, .font-logo-small{
    color: white;
    font-family: 'Pacifico';
    text-decoration: none;
}
.logo-font {
    text-shadow: 5px 5px 0 var(--green-darker),
    -5px 5px 0 var(--green-darker),
    5px -5px 0 var(--green-darker),
    -5px -5px 0 var(--green-darker),
    5px 0 0 var(--green-darker),
    -5px 0 0 var(--green-darker),
    0 5px 0 var(--green-darker),
    0 -5px 0 var(--green-darker);
}
.font-logo-small{
    text-shadow: 2px 2px 0 var(--green-darker),
    -2px 2px 0 var(--green-darker),
    2px -2px 0 var(--green-darker),
    -2px -2px 0 var(--green-darker),
    2px 0 0 var(--green-darker),
    -2px 0 0 var(--green-darker),
    0 2px 0 var(--green-darker),
    0 -2px 0 var(--green-darker);
}