.main-panel-groups{
    font-family: 'sour gummy', sans-serif;
}
.main-panel-groups .formContainer{
    width: 60vw;
}
.main-panel-groups .groupInfo{
    border-radius: 15px;
    display: flex;
    width: 100%;
    border: none;
    gap: 1em;
    padding: 0 0 1em 0;
}
.main-panel-groups .groupInfo > div{
    flex-grow: 1;
    background-color: #ffffff26;
    border-radius: 15px;
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
    min-width: 0;
    width: 50%;
    border: 5px solid var(--green-dark);
}
.main-panel-groups .table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
    border: 5px solid var(--green-dark);
    border-radius: 15px;
    overflow-x: auto;
}

.main-panel-groups .table-header {
    display: contents;
}

.main-panel-groups .table-header > div {
    background-color: var(--green-dark);
    border: 3px solid var(--green-darker);
    padding: 20px;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
}
.main-panel-groups .grid-row {
    display: contents;
}
.main-panel-groups .grid-cell {
    border: 3px solid var(--green-dark);
    padding: 10px;
    font-size: 24px;
    line-height: 24px;
}
.styling-panel{
    justify-content: center;
}

.main-panel-komunikaty .formContainer{
    width: 90%;
}
.main-panel-add-komunikaty input,
.main-panel-add-komunikaty textarea{
    font-size: 32px;
    font-family: 'sour gummy', sans-serif;
}
.main-panel-add-komunikaty input[type='text'],
.main-panel-add-komunikaty textarea{
    background-color: var(--green-dark);
    color: white;
    box-sizing: border-box;
}
.main-panel-add-komunikaty input[type='text']{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 6px solid var(--green-darker);
    border-right: 6px solid var(--green-darker);
    border-left: 6px solid var(--green-darker);
    border-bottom: 3px solid var(--green-darker);
}
.main-panel-add-komunikaty textarea{
    border-radius: 0 0 15px 15px;
    border-top: 3px solid var(--green-darker);
    border-right: 6px solid var(--green-darker);
    border-left: 6px solid var(--green-darker);
    border-bottom: 6px solid var(--green-darker);
}
.main-panel-add-komunikaty .article{
    overflow: hidden;
    margin: 10px 0 20px 0;
}
.main-panel-add-komunikaty .article_header{
    display: flex;
    width: 100%;
}
.main-panel-add-komunikaty textarea,
.main-panel-add-komunikaty input{
    width: 100%;
}
.main-panel-add-komunikaty .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.main-panel-add-komunikaty .choose-visibility{
    display: flex;
    font-family: 'sour gummy', sans-serif;
    gap: 1rem;
    align-items: center;
    font-size: 32px;
}
.main-panel-add-komunikaty select{
    display: block;
    font-size: 32px;
}
.main-panel-plan .formContainer{
    width: 100%;
}

.main-panel-food .styling-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-panel-food .formContainer{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0 1.5vw;
    background-color: var(--green-vibrant);
    border: solid 5px var(--green-dark);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: 'sour gummy', sans-serif;
}
.main-panel-food .border-box{
    border: 4px solid #14522d;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr;
    height: 80%;
    border-radius: 15px;
    overflow: hidden;
}
.main-panel-food .table_cell{
    font-size: 18px;
    border: 1px solid #14522d;
    padding: .5em;
    box-sizing: border-box;
    transition: .2s;
}
.main-panel-food .table_cell.label{
    background-color: var(--green-dark);
    border: 1px solid #14522d;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-panel-food .table_cell:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}